@model IMemberChangeOtherViewModel

@{
    ViewBag.DisplayName = "Change Other";
}

<form method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                @Html.LabelFor(model => model.Nickname)
                @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nickname, String.Empty, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AvatarData, "Avatar")
                @Html.HiddenFor(model => model.AvatarData)
                @Html.ValidationMessageFor(model => model.AvatarData, String.Empty, new { @class = "text-danger" })
                <p><canvas width="80" height="80" data-jdenticon-hash="@Model.AvatarData"></canvas></p>
                <button type="submit" name="submit" value="random" class="btn btn-default">Random</button>
            </div>

        </div>
    </div>

    <button type="submit" name="submit" value="default" class="btn btn-default">Submit</button>
</form>

<br />
<p>@Html.ActionLink("Back to Detail", "Detail", new { id = Model.Id })</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jdenticon")
}
